<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="${basedir}\Log\internal-nlog.txt"
	  >-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="file" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" fileName="${basedir}/Log/EagleScore.log" keepFileOpen="false" archiveAboveSize="15728640" archiveFileName="${basedir}/Archieve/${shortdate}.{######}.log" archiveNumbering="Sequence" concurrentWrites="true" archiveEvery="Day" maxArchiveFiles="999999" createDirs="true" />
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} - [${level:uppercase=true}] (${logger}) : ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
	</targets>
	<rules>
		<logger name="*" writeTo="file" minlevel="Debug" />
		<logger name="*" writeTo="console" minlevel="Trace" />
	</rules>
</nlog>